<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Employee Management</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="fa fa-table"></i>Employee</li>
                <li><i class="fa fa-th-list"></i>Manage Employee</li>
            </ol>
        </div>
    </div>
    <!-- Search Box Section -->
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Search Box
            </header>
            <div class="panel-body">
                <div class="form">
                    <form class="form-validate form-horizontal">
                        <div class="form-group" ng-show="$ctrl.isResponseEmpty || $ctrl.isServerFailed">
                            <span ng-show="$ctrl.isResponseEmpty" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isResponseEmpty}">
                                There is no Employee satisfying the search condition.
                            </span>
                            <span ng-show="$ctrl.isServerFailed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isServerFailed}">
                                Oop! Sorry, the system is down for a while, please comeback later on to use this function.
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Employee Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="$ctrl.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="$ctrl.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button type="button" class="col-sm-2 btn btn-primary" ng-click="$ctrl.search()">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- End Search Box -->

    <!-- List of Users -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Employee List
                </header>
                <div class="panel-body">
                    <div class="form-group" ng-show="$ctrl.isAdminEmpty || $ctrl.isEmployeeInvolveInAnyUnit || $ctrl.deleteSucessful">
                        <span ng-show="$ctrl.isAdminEmpty" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isAdminEmpty}">
                            The Employee cannot be deleted because there is only one admin currently existing in the system.
                        </span>
                        <span ng-show="$ctrl.isEmployeeInvolveInAnyUnit" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isEmployeeInvolveInAnyUnit}">
                            This Employee cannot be deleted because he/she has already involved in an unit.
                        </span>
                        <span ng-show="$ctrl.deleteSucessful" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.deleteSucessful}">
                            The Employee has been deleted successfully.
                        </span>
                    </div>
                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                            <tr>
                                <th>Employee ID</th>
                                <th><i class="icon_profile"></i> Full Name</th>
                                <th><i class="icon_calendar"></i> Date Of Birth</th>
                                <th><i class="icon_mail_alt"></i> Email</th>
                                <th><i class="icon_genius"></i> Title</th>
                                <th><i class="icon_pin_alt"></i> Address</th>
                                <th><i class="icon_mobile"></i> Mobile</th>
                                <th><i class="icon_cogs"></i> Action</th>
                            </tr>
                            <tr ng-repeat="user in $ctrl.users">
                                <td>{{user.id}}</td>
                                <td>{{user.firstname + ' ' + user.lastname}}</td>
                                <td>{{user.dob}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.title}}</td>
                                <td>{{user.addressline1 + ' ' + user.country}}</td>
                                <td>{{user.mobile}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" ng-click="$ctrl.update($index)">Update</a>
                                        <a class="btn btn-danger" ng-click="$ctrl.delete($index)">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- End List of Users -->
</section>
