<div class="toggle-nav">
    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
</div>

<!--logo start-->
<a href="#!/index" class="logo">TCAB <span class="lite">System</span></a>
<!--logo end-->

<div class="nav search-row" id="top_menu">
    <!--  search form start -->
    <ul class="nav top-menu">
        <li>
            <form class="navbar-form">
                <input class="form-control" placeholder="Search" type="text">
            </form>
        </li>
    </ul>
    <!--  search form end -->
</div>

<div class="top-nav notification-row">
    <!-- notificatoin dropdown start-->
    <ul class="nav pull-right top-menu">
        <!-- alert notification end-->
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="username">{{account.name}}</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li class="eborder-top">
                    <a href="#"><i class="icon_profile"></i> My Profile</a>
                </li>
                <li>
                    <a href="#"><i class="icon_mail_alt"></i> Notifications</a>
                </li>
                <li>
                    <a href="#"><i class="icon_info"></i> About</a>
                </li>
                <li>
                    <a href="#!/logout"><i class="icon_lock_alt"></i> Log Out</a>
                </li>
            </ul>
        </li>
        <!-- user login dropdown end -->
    </ul>
    <!-- notificatoin dropdown end-->
</div>