<div class="container">

    <form class="login-form">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group" ng-class="{'has-error is-focused': $root.authenticationError}">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input type="text" class="form-control" placeholder="Username" ng-model="$ctrl.username" autofocus>
            </div>
            <span ng-show="$root.authenticationError" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $root.authenticationError}">Please check your credentials information</span>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" ng-model="$ctrl.password" placeholder="Password">
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me" ng-model="rememberMe"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.login()">Login</button>
            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
        </div>
    </form>
</div>