<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i> Project Registration</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="icon_document_alt"></i>Project</li>
                <li><i class="fa fa-file-text-o"></i>Allocate Project</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Project Allocation Form
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" ng-submit="$ctrl.allocate()">
                            <div class="form-group" ng-show="$ctrl.isServerFailed || $ctrl.isProjectAllocatedSuccessfully || $ctrl.isTeamMissing || $ctrl.isTeamAlreadyMeetSupervisor">
                                <span ng-show="$ctrl.isServerFailed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isServerFailed}">
                                    Oop! The server is down for some reasons. Please try again later.
                                </span>
                                <span ng-show="$ctrl.isProjectAllocatedSuccessfully" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.isProjectAllocatedSuccessfully}">
                                    The project has been allocated successfully.
                                </span>
                                <span ng-show="$ctrl.isTeamMissing" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isTeamMissing}">
                                    At least one team must be identified by using Add Team button.
                                </span>
                                <span ng-show="$ctrl.isTeamAlreadyMeetSupervisor" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isTeamAlreadyMeetSupervisor}">
                                    One of the team cannot be re-allocated because they have already meet the Supervisor.
                                </span>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">Project <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="disabledInput" type="text" ng-model="$ctrl.project.name" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Supervisor ID <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.supervisor.id" ng-class="{'has-error is-focused': $ctrl.isSupervisorIdEmpty}" required="true">
                                    <span ng-show="$ctrl.isSupervisorIdEmpty" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isSupervisorIdEmpty}">
                                        The Supervisor ID cannot be empty or may be the Supervisor ID is not existing in the system.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Team ID <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.currentTeam" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="col-sm-2 btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
