<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i>Project Allocation Management</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="fa fa-table"></i>Project</li>
                <li><i class="fa fa-th-list"></i>Manage Project Allocation</li>
            </ol>
        </div>
    </div>
    <!-- Search Box Section -->
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Search Box
            </header>
            <div class="panel-body">
                <div class="form">
                    <form class="form-validate form-horizontal">
                        <div class="form-group" ng-show="$ctrl.isResponseEmpty || $ctrl.isServerFailed">
                            <span ng-show="$ctrl.isResponseEmpty" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isResponseEmpty}">
                                There is no Project Allocation satisfying the search condition.
                            </span>
                            <span ng-show="$ctrl.isServerFailed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isServerFailed}">
                                Oop! Sorry, the system is down for a while, please comeback later on to use this function.
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="inputSuccess">Unit <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control m-bot15" ng-model="$ctrl.selectedUnit" ng-options="unit.id as unit.unitcode + ' ' + unit.name for unit in $ctrl.units" ng-change="$ctrl.getProjects()">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="inputSuccess">Project <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control m-bot15" ng-model="$ctrl.project" ng-options="project as project.name for project in $ctrl.projects" required="true">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button type="button" class="col-sm-2 btn btn-primary" ng-click="$ctrl.search($ctrl.project.id)">Search</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- End Search Box -->

    <!-- List of Project Allocation -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Project Allocation List
                </header>
                <div class="panel-body">
                    <div class="form-group" ng-show="$ctrl.isTeamAlreadyMeetSupervisor || $ctrl.isProjectAllocationUpdatedSuccessfully">
                        <span ng-show="$ctrl.isTeamAlreadyMeetSupervisor" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isTeamAlreadyMeetSupervisor}">
                            This Project cannot be deleted because it has been allocated to a team already.
                        </span>
                        <span ng-show="$ctrl.isProjectAllocationUpdatedSuccessfully" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.isProjectAllocationUpdatedSuccessfully}">
                            The Project Allocation has been updated successfully.
                        </span>
                    </div>
                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                            <tr>
                                <th> Team ID</th>
                                <th> Team Name</th>
                                <th> Supervisor ID</th>
                                <th> Supervisor Name</th>
                                <th> Team Members</th>
                                <th> Actions</th>
                            </tr>
                            <tr ng-repeat="team in $ctrl.teams">
                                <td>{{team.teamId}}</td>
                                <td>{{team.name}}</td>
                                <td>{{team.supervisorId}}</td>
                                <td>{{team.supervisorName}}</td>
                                <td>{{team.teamcount}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" ng-click="$ctrl.update($index)">Update</a>
                                        <a class="btn btn-danger" ng-click="$ctrl.delete($index)">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- End List of Project Allocation -->
</section>
