<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Project Update</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="fa fa-table"></i>Project</li>
                <li><i class="fa fa-th-list"></i>Update Project</li>
            </ol>
        </div>
    </div>
    <!-- Search Box Section -->
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Search Box
            </header>
            <div class="panel-body">
                <div class="form">
                    <form class="form-validate form-horizontal">
                        <div class="form-group" ng-show="$ctrl.isResponseEmpty || $ctrl.isServerFailed">
                            <span ng-show="$ctrl.isResponseEmpty" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isResponseEmpty}">
                                There is no Project satisfying the search condition.
                            </span>
                            <span ng-show="$ctrl.isServerFailed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isServerFailed}">
                                Oop! Sorry, the system is down for a while, please comeback later on to use this function.
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="inputSuccess">Unit</label>
                            <div class="col-sm-8">
                                <select class="form-control m-bot15" ng-model="$ctrl.unitId" ng-required>
                                    <option ng-repeat="unit in $ctrl.units" value="{{unit.id}}">{{unit.unitcode}} - {{unit.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Project Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="$ctrl.projectName">
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="button" class="col-sm-2 btn btn-primary" ng-click="$ctrl.search($ctrl.projectName, $ctrl.unitId)">Search</button>
                                </div>
                            </div>
                        
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- End Search Box -->

    <!-- List of Users -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Project List
                </header>
                <div class="panel-body">
                    <div class="form-group" ng-show="$ctrl.isProjectAllocatedToATeam || $ctrl.deleteSucessful">
                        <span ng-show="$ctrl.isProjectAllocatedToATeam" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isProjectAllocatedToATeam}">
                            This Project cannot be deleted because it has been allocated to a team already.
                        </span>
                        <span ng-show="$ctrl.deleteSucessful" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.deleteSucessful}">
                            The Project has been deleted successfully.
                        </span>
                    </div>
                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                            <tr>
                                <th>Project ID</th>
                                <th> Project Name</th>
                                <th> Maximum Members</th>
                                <th> Unit Code</th>
                                <th> Unit Name</th>
                                <th> Description</th>
                                <th> Action</th>
                            </tr>
                            <tr ng-repeat="project in $ctrl.projects">
                                <td>{{project.id}}</td>
                                <td>{{project.name}}</td>
                                <td>{{project.maximunmembers}}</td>
                                <td>{{project.unit.unitcode}}</td>
                                <td>{{project.unit.name}}</td>
                                <td><a class="btn btn-primary" ng-click="$ctrl.download($index)">Download</a></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" ng-click="$ctrl.update($index)">Update</a>
                                        <a class="btn btn-danger" ng-click="$ctrl.delete($index)">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- End List of Users -->
</section>
