<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i> Project Registration</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="icon_document_alt"></i>Project</li>
                <li><i class="fa fa-file-text-o"></i>Register Project</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Project Registration Form
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" ng-submit="$ctrl.update($ctrl.project.id)">
                            <div class="form-group" ng-show="$ctrl.isRequiredFieldsEmpty || $ctrl.isProjectUpdated">
                                <span ng-show="$ctrl.isRequiredFieldsEmpty" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isRequiredFieldsEmpty}">
                                    Please make sure that all the required fields must be filled in before submitted.
                                </span>
                                <span ng-show="$ctrl.isProjectUpdated" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.isProjectUpdated}">
                                    The project has been updated successfully.
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">Unit <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control m-bot15" ng-model="$ctrl.project.unit" ng-options="unit as unit.unitcode + ' - ' + unit.name for unit in $ctrl.units" required="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Project Name <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.project.name" ng-class="{'has-error is-focused': $ctrl.isProjectNameAlreadyExisting}" required="true">
                                    <span ng-show="$ctrl.isProjectNameAlreadyExisting" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isProjectNameAlreadyExisting}">
                                    The Project Name is already existing in this Unit.
                                </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Project Budget <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.project.budget" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Maximum Number of Member per Team<span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.project.maximunmembers" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Project Description </label>
                                <div class="col-sm-8">
                                    <input type="file" class="form-control" file-model="$ctrl.project.description">
                                </div>
                                <span class="col-lg-4 col-lg-offset-2">Note: The file size must be less than 16Mb</span>
                                <span ng-show="$ctrl.isFileSizeTooLarge" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isFileSizeTooLarge}">
                                    The Project Description File is larger than allowed. Make sure that the File Size is less than 16 Mb</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="col-sm-2 btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
