<script src="js/scripts.js"></script>
<!--sidebar start-->

<div id="sidebar" class="collapse nav-collapse">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
        <li class="active">
            <a class="" href="#!/index">
                <i class="icon_house_alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="ADMIN">
                <i class="icon_document_alt"></i>
                <span>Employee</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="#!/registerEmployee" access="ADMIN">Manual Registration</a></li>
                <li><a href="#!/manageEmployee" access="ADMIN">Employee Management</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="ADMIN">
                <i class="icon_document_alt"></i>
                <span>Student</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="#!/registerStudent" access="ADMIN">Manual Registration</a></li>
                <li><a href="#!/manageStudent" access="ADMIN">Student Management</a></li>
                <li><a class="" href="#!/enrollStudent" access="ADMIN">Student Enrollment</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="ADMIN">
                <i class="icon_document_alt"></i>
                <span>Unit</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="#!/registerUnit" access="ADMIN">Manual Registration</a></li>
                <li><a class="" href="#!/manageUnit" access="ADMIN">Unit Management</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="CONVENER">
                <i class="icon_document_alt"></i>
                <span>Project</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="#!/registerProject" access="CONVENER">Project Registration</a></li>
                <li><a class="" href="#!/manageProject" access="CONVENER">Project Update</a></li>
                <li><a class="" href="#!/manageAllocation" access="CONVENER">Project Allocation Management</a></li>
                <li><a class="" href="javascript:;" access="CONVENER">Project Role Setup</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="CONVENER">
                <i class="icon_document_alt"></i>
                <span>Teams</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="#!/registerTeam" access="CONVENER">Manual Registration</a></li>
                <li><a class="" href="#!/manageTeam" access="CONVENER">Team Management</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="CONVENER">
                <i class="icon_document_alt"></i>
                <span>Setup Peer Assessment</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="javascript:;" access="CONVENER">Manual Registration</a></li>
                <li><a class="" href="javascript:;" access="CONVENER">Batch Registration</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="STUDENT">
                <i class="icon_document_alt"></i>
                <span>Submit Peer Assessment</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="javascript:;" access="STUDENT">Manual Registration</a></li>
                <li><a class="" href="javascript:;" access="STUDENT">Batch Registration</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="STUDENT">
                <i class="icon_document_alt"></i>
                <span>Submit Tasks</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="#!/submitTask" access="STUDENT">Task Submission</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="CONVENER,SUPERVISOR">
                <i class="icon_document_alt"></i>
                <span>Report</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="#!/reportStudentTask" access="CONVENER,SUPERVISOR">Individual Student Tasks</a></li>
                <li><a class="" href="#!/reportStudentWeeklyTask" access="CONVENER,SUPERVISOR">Team Student Weekly Tasks</a></li>
                <li><a class="" href="#!/reportTeamTasks" access="CONVENER,SUPERVISOR">Team Tasks</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="STUDENT">
                <i class="icon_document_alt"></i>
                <span>Setup Meeting</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="javascript:;" access="ADMIN">Manual Registration</a></li>
                <li><a class="" href="javascript:;" access="ADMIN">Batch Registration</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="STUDENT">
                <i class="icon_document_alt"></i>
                <span>Conduct Meeting</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="javascript:;" access="ADMIN">Manual Registration</a></li>
                <li><a class="" href="javascript:;" access="ADMIN">Batch Registration</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="SUPERVISOR">
                <i class="icon_document_alt"></i>
                <span>Setup Meeting</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="javascript:;" access="ADMIN">Manual Registration</a></li>
                <li><a class="" href="javascript:;" access="ADMIN">Batch Registration</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="" access="SUPERVISOR">
                <i class="icon_document_alt"></i>
                <span>Conduct Meeting</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="javascript:;" access="ADMIN">Manual Registration</a></li>
                <li><a class="" href="javascript:;" access="ADMIN">Batch Registration</a></li>
            </ul>
        </li>
    </ul>
    <!-- sidebar menu end-->
</div>

<!--sidebar end-->
