<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i> Student Registration</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="icon_document_alt"></i>Student</li>
                <li><i class="fa fa-file-text-o"></i>Manual Registration</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Student Registration Form
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" ng-submit="$ctrl.register()">
                            <div class="form-group" ng-show="$ctrl.isRequiredFieldsEmpty || $ctrl.isStudentCreated">
                                <span ng-show="$ctrl.isRequiredFieldsEmpty" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isRequiredFieldsEmpty}">
                                    Please make sure that all the required field must be filled in before submitted.
                                </span>
                                <span ng-show="$ctrl.isStudentCreated" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.isStudentCreated}">
                                    The Student has been created successfully.
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">First Name <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.student.firstname" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Last Name <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.student.lastname" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" ng-model="$ctrl.student.email" ng-class="{'has-error is-focused': $ctrl.isStudentAlreadyExisting}" required="true">
                                    <span ng-show="$ctrl.isStudentAlreadyExisting" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isStudentAlreadyExisting}">
                                    The Student Email is already Existing.
                                </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">Title <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control m-bot15" ng-model="$ctrl.student.title" required="true">
                                        <option value="Mr">Mr</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Prof">Prof</option>
                                        <option value="Dr">Dr</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mobile <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.student.mobile" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Date of Birth <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" ng-model="$ctrl.student.dob" ng-model-options="{ timezone: 'UTC'}" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address Line 1 <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.student.addressline1" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address Line 2</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.student.addressline2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address Line 3</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.student.addressline3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">State</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.student.state">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" required>Country <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.student.country" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="reset" class="col-sm-2 btn btn-danger">Reset</button>
                                    <button type="submit" class="col-sm-2 btn btn-primary">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
