<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i> Student Enrollment</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="icon_document_alt"></i>Student</li>
                <li><i class="fa fa-file-text-o"></i>Enroll Student</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Student Enrollment Form
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" ng-submit="$ctrl.enroll()">
                            <div class="form-group" ng-show="$ctrl.isRequiredFieldsEmpty || $ctrl.isStudentEnrollmentBulkUploadSuccessful || $ctrl.isStudentEnrollmentBulkUploadPartialSuccessful">
                                <span ng-show="$ctrl.isRequiredFieldsEmpty" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isRequiredFieldsEmpty}">
                                    Please make sure that all the requireds field must be filled in before submitted.
                                </span>
                                <span ng-show="$ctrl.isStudentEnrollmentBulkUploadSuccessful" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.isStudentEnrollmentBulkUploadSuccessful}">
                                    Successfully enroll all Students into Units.
                                </span>
                                <span ng-show="$ctrl.isStudentEnrollmentBulkUploadPartialSuccessful" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isStudentEnrollmentBulkUploadPartialSuccessful}">
                                    Some students are enrolled into the Units successfully, some are not. Please download the Invalid Student Enrollment Records file and review the invalid records.
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Student Enrollment File <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="file" accept=".csv" class="form-control" file-model="$ctrl.studentEnrollmentFile" id="studentEnrollmentFile" required="true">
                                    <span ng-show="$ctrl.isFileSizeTooLarge" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isFileSizeTooLarge}">
                                    The Student Enrollment File is larger than allowed. Make sure that the File Size is less than 40Mb</span>
                                </div>
                                <span class="col-lg-4 col-lg-offset-2">Note: The file size must be less than 40Mb</span>
                            </div>
                            <div ng-show="$ctrl.isStudentEnrollmentBulkUploadPartialSuccessful" class="form-group">
                                <label class="col-sm-2 control-label">Invalid Student Enrollment Records</label>
                                <div class="col-sm-8">
                                    <a class="btn btn-primary col-sm-2" ng-click="$ctrl.download()">Download</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="col-sm-2 btn btn-primary">Enroll</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
