<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i>Report</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="icon_document_alt"></i>Report</li>
                <li><i class="fa fa-file-text-o"></i>Student Tasks Report</li>
            </ol>
        </div>
    </div>
    <!-- Search Box Section -->
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Search Box
            </header>
            <div class="panel-body">
                <div class="form">
                    <form class="form-validate form-horizontal" ng-submit="$ctrl.search()">
                        <div class="form-group" ng-show="$ctrl.isResponseEmpty || $ctrl.isServerFailed">
                            <span ng-show="$ctrl.isResponseEmpty" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isResponseEmpty}">
                                There is no Report satisfying the search condition.
                            </span>
                            <span ng-show="$ctrl.isServerFailed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isServerFailed}">
                                Oop! Sorry, the system is down for a while, please comeback later on to use this function.
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="inputSuccess">Unit <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control m-bot15" ng-model="$ctrl.unit" ng-options="unit as unit.unitcode + ' ' + unit.name for unit in $ctrl.units" ng-change="$ctrl.getProjects()" required="true">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="inputSuccess">Project <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control m-bot15" ng-model="$ctrl.project" ng-options="project as project.name for project in $ctrl.projects" required="true">
                                </select>
                                <span ng-show="$ctrl.isProjectNotChoosed" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isProjectNotChoosed}">
                                    The Project need to be choosed before searching for the team.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Team <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="$ctrl.teamName" ng-change="$ctrl.searchTeams()" ng-model-options="{debounce: 750}" ng-class="{'has-error is-focused': $ctrl.isTeamNameNotExisting}" required="true">
                                <select ng-show="$ctrl.isTeamNameExisting" class="form-control m-bot15" multiple ng-model="$ctrl.team" ng-options="team as team.name for team in $ctrl.teams" ng-change="$ctrl.selectTeam()"></select>
                                <span ng-show="$ctrl.isTeamNameNotExisting" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isTeamNameNotExisting}">
                                    There is no Team satisfying the search condition.
                                </span>
                                <span ng-show="$ctrl.isTeamNotChoosed" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isTeamNotChoosed}">
                                    The Team need to be choosed before searching for the student.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Student <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="$ctrl.studentName" ng-change="$ctrl.searchStudents()" ng-model-options="{debounce: 750}" ng-class="{'has-error is-focused': $ctrl.isStudentNameNotExisting}" required="true">
                                <select ng-show="$ctrl.isStudentNameExisting" class="form-control m-bot15" multiple ng-model="$ctrl.student" ng-options="student as student.id + ' - ' + student.user.firstname + ' ' + student.user.lastname for student in $ctrl.students" ng-change="$ctrl.selectStudent()"></select>
                                <span ng-show="$ctrl.isStudentNameNotExisting" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isStudentNameNotExisting}">
                                    There is no Student satisfying the search condition.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button type="submit" class="col-sm-2 btn btn-primary">Generate Report</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- End Search Box -->

    <!-- End of Report -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Student Tasks Report
                </header>
                <div class="panel-body">
                    <section ng-show="$ctrl.isSearchSuccessfull">
                        <h3>Report Information</h3>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Project Name: </td>
                                    <td>{{$ctrl.project.name}}</td>
                                </tr>
                                <tr>
                                    <td>Team Name:</td>
                                    <td>{{$ctrl.team[0].name}}</td>
                                </tr>
                                <tr>
                                    <td>Student ID:</td>
                                    <td>{{$ctrl.student[0].id}}</td>
                                </tr>
                                <tr>
                                    <td>Student Name:</td>
                                    <td>{{$ctrl.student[0].user.firstname + ' ' + $ctrl.student[0].user.lastname}}</td>
                                </tr>
                                <tr>
                                    <td>Total Time Spending on the Project:</td>
                                    <td>{{$ctrl.totalTimeTaken/60}} hours</td>
                                </tr>
                                <tr>
                                    <td>Total Time Spending per Week:</td>
                                    <td>{{$ctrl.totalTimeTakenPerWeek}} hours</td>
                                </tr>
                                <tr>
                                    <td>Total Salary Earn from the Project:</td>
                                    <td>A${{$ctrl.totalCost}}</td>
                                </tr>
                                <tr>
                                    <td>Total Salary Earn from the Project per Week:</td>
                                    <td>A${{$ctrl.costPerWeek}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <h3>Task Information</h3>
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th> Week</th>
                                <th> Date</th>
                                <th> Task Description</th>
                                <th> Time Taken</th>
                                <th> Role</th>
                                <th> Associating Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="studentTask in $ctrl.studentTasks">
                                <td>{{studentTask.week}}</td>
                                <td>{{studentTask.date}}</td>
                                <td>{{studentTask.taskDescription}}</td>
                                <td>{{studentTask.timeTaken}}</td>
                                <td>{{studentTask.roleName}}</td>
                                <td>{{studentTask.associatingCost}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- End of Report -->
</section>
