<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i>Task Submission</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="icon_document_alt"></i>Task</li>
                <li><i class="fa fa-file-text-o"></i>Submit Task</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Task Submission Form
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" ng-submit="$ctrl.submitTask()">
                            <div class="form-group" ng-show="$ctrl.isServerFailed || $ctrl.isTaskSubmittedSuccessfully">
                                <span ng-show="$ctrl.isServerFailed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isServerFailed}">
                                    Oop! The server is down for some reasons. Please try again later.
                                </span>
                                <span ng-show="$ctrl.isTaskSubmittedSuccessfully" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.isTaskSubmittedSuccessfully}">
                                    The Tasks has been submitted successfully.
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">Unit <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control m-bot15" ng-model="$ctrl.selectedUnit" ng-options="unit.id as unit.unitcode + ' ' + unit.name for unit in $ctrl.units" ng-change="$ctrl.getProjects()" required="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">Project <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control m-bot15" ng-model="$ctrl.project" ng-options="project as project.name for project in $ctrl.projects" ng-change="$ctrl.getProjectRoles()" required="true">
                                    </select>
                                    <span ng-show="$ctrl.isProjectNotChoosed" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isProjectNotChoosed}">
                                        The Project need to be choosed before adding Tasks.
                                    </span>
                                    <span ng-show="$ctrl.isStudentNotEnrolledInTheProject" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isStudentNotEnrolledInTheProject}">
                                        You are not enrolling into this project. Please select another project.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Team Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.team.name" required="true" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Week <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.week" ng-class="{'has-error is-focused': $ctrl.isTaskSubmittedForThisWeek}" required="true">
                                    <span ng-show="$ctrl.isTaskSubmittedForThisWeek" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isTaskSubmittedForThisWeek}">
                                        You have already submitted some tasks for this week.
                                    </span>
                                </div>
                            </div>
                            <div ng-repeat="studentTask in $ctrl.student.studentTasks">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <button type="button" class="col-sm-2 btn btn-danger" ng-click="$ctrl.removeStudentTask($index)">Remove Task</button>
                                        <button type="button" class="col-sm-2 btn btn-info" data-toggle="collapse" data-target="#{{'demo' + $index}}">Expand/Collapse Task</button>
                                    </div>
                                </div>
                                <div class="collapse" id="{{'demo' + $index}}">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Date <span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="date" class="form-control" ng-model="studentTask.date" ng-model-options="{ timezone: 'UTC'}" required="true">
                                            <span ng-show="$ctrl.isTaskInvalid[$index].teamCount" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isTaskInvalid[$index].teamCount}">
                                                The date must be valid.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="taskDescription" class="control-label col-lg-2">Task Description</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" id="taskDescription" name="description" ng-model="studentTask.task.deacription" required="true"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Time Taken <span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="input" class="form-control" ng-model="studentTask.timetaken" required="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="inputSuccess">Project Role <span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control m-bot15" ng-model="studentTask.task.role" ng-options="role as role.name for role in $ctrl.projectRoles" required="true">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="button" class="col-sm-2 btn btn-info" ng-click="$ctrl.addStudentTask()">Add Task</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="col-sm-2 btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
