<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i>Team Management</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="fa fa-table"></i>Team</li>
                <li><i class="fa fa-th-list"></i>Manage Team</li>
            </ol>
        </div>
    </div>
    <!-- Search Box Section -->
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Search Box
            </header>
            <div class="panel-body">
                <div class="form">
                    <form class="form-validate form-horizontal">
                        <div class="form-group" ng-show="$ctrl.isResponseEmpty || $ctrl.isServerFailed">
                            <span ng-show="$ctrl.isResponseEmpty" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isResponseEmpty}">
                                There is no Team satisfying the search condition.
                            </span>
                            <span ng-show="$ctrl.isServerFailed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isServerFailed}">
                                Oop! Sorry, the system is down for a while, please comeback later on to use this function.
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="inputSuccess">Unit <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control m-bot15" ng-model="$ctrl.selectedUnit" ng-options="unit.id as unit.unitcode + ' ' + unit.name for unit in $ctrl.units" ng-change="$ctrl.getProjects()" ng-required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="inputSuccess">Project <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control m-bot15" ng-model="$ctrl.project" ng-options="project as project.name for project in $ctrl.projects" ng-required>
                                </select>
                                <span ng-show="$ctrl.isProjectNotChoosed" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isProjectNotChoosed}">
                                    The Project need to be choosed before adding Supervisor ID and Team ID.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Team Name <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="$ctrl.teamName" ng-required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button type="button" class="col-sm-2 btn btn-primary" ng-click="$ctrl.search($ctrl.teamName, $ctrl.project.id)">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- End Search Box -->

    <!-- List of Users -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Team List
                </header>
                <div class="panel-body">
                    <div class="form-group" ng-show="$ctrl.isTeamNotEmpty || $ctrl.deleteSucessful">
                        <span ng-show="$ctrl.isProjectAllocatedToATeam" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isProjectAllocatedToATeam}">
                            This Team cannot be deleted because it has student assigned to it.
                        </span>
                        <span ng-show="$ctrl.deleteSucessful" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.deleteSucessful}">
                            The Team has been deleted successfully.
                        </span>
                    </div>
                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                            <tr>
                                <th> Team ID</th>
                                <th> Team Name</th>
                                <th> Team Members</th>
                                <th> Project Name</th>
                                <th> Supervisor Name</th>
                                <th> Action</th>
                            </tr>
                            <tr ng-repeat="team in $ctrl.teams">
                                <td>{{team.id}}</td>
                                <td>{{team.name}}</td>
                                <td>{{team.teamcount}}</td>
                                <td>{{team.project.name}}</td>
                                <td>{{team.supervisor.user.firstname + ' '  + team.supervisor.user.lastname}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" ng-click="$ctrl.update($index)">Assign</a>
                                        <a class="btn btn-danger" ng-click="$ctrl.delete($index)">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- End List of Users -->
</section>
