<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i>Team Registration</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="icon_document_alt"></i>Team</li>
                <li><i class="fa fa-file-text-o"></i>Register Team</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Team Registration Form
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" ng-submit="$ctrl.allocate()">
                            <div class="form-group" ng-show="$ctrl.isServerFailed || $ctrl.isProjectAllocatedSuccessfully || $ctrl.isTeamAlreadyMeetSupervisor || $ctrl.isTeamNumberLargerThanAllowed">
                                <span ng-show="$ctrl.isServerFailed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isServerFailed}">
                                    Oop! The server is down for some reasons. Please try again later.
                                </span>
                                <span ng-show="$ctrl.isProjectAllocatedSuccessfully" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.isProjectAllocatedSuccessfully}">
                                    The Team has been registered successfully.
                                </span>
                                <span ng-show="$ctrl.isTeamAlreadyMeetSupervisor" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isTeamAlreadyMeetSupervisor}">
                                    One of the team cannot be allocated because they have already meet the Supervisor.
                                </span>
                                <span ng-show="$ctrl.isTeamNumberLargerThanAllowed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isTeamNumberLargerThanAllowed}">
                                    The Number of Students is larger than allowed for the project which is {{$ctrl.project.maximunmembers}} team member.
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">Unit <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control m-bot15" ng-model="$ctrl.selectedUnit" ng-options="unit.id as unit.unitcode + ' ' + unit.name for unit in $ctrl.units" ng-change="$ctrl.getProjects()" required="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">Project <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control m-bot15" ng-model="$ctrl.project" ng-options="project as project.name for project in $ctrl.projects" required="true" ng-change="$ctrl.selectProject()">
                                    </select>
                                    <span ng-show="$ctrl.isProjectNotChoosed" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isProjectNotChoosed}">
                                        The Project need to be choosed before adding Supervisor ID and Team ID.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Supervisor <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.supervisorName" ng-change="$ctrl.searchSupervisors()" ng-model-options="{debounce: 750}" ng-class="{'has-error is-focused': $ctrl.isSupervisorIdEmpty}" required="true">
                                    <select ng-show="$ctrl.isSupervisorNameExisting" class="form-control m-bot15" multiple ng-model="$ctrl.supervisor" ng-options="supervisor as supervisor.id + ' - ' + supervisor.user.firstname + ' ' + supervisor.user.lastname for supervisor in $ctrl.supervisors" ng-change="$ctrl.selectSupervisor()"></select>
                                    <span ng-show="$ctrl.isSupervisorIdEmpty" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isSupervisorIdEmpty}">
                                        The Supervisor cannot be empty or may be the Supervisor ID is not existing in the system or not enrolling in teaching this unit.
                                    </span>
                                    <span ng-show="$ctrl.isSupervisorNameNotExisting" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isSupervisorNameNotExisting}">
                                        There is no Supervisor with the name {{$ctrl.supervisorName}}.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Team Name <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.teamName" ng-class="{'has-error is-focused': $ctrl.isTeamNameInvalid || $ctrl.isTeamMissing}" required="true">
                                    <span ng-show="$ctrl.isTeamMissing" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isTeamMissing}">
                                        The Team Name cannot be empty.
                                    </span>
                                    <span ng-show="$ctrl.isTeamNameInvalid" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isTeamNameInvalid}">
                                        The Team Name is already existing in the system.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-repeat="student in $ctrl.students">
                                <label class="col-sm-2 control-label">Student Name<span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="$ctrl.studentName[$index]" ng-change="$ctrl.searchStudents($index)" ng-model-options="{debounce: 750}" ng-class="{'has-error is-focused': $ctrl.isStudentNameNotExisting[$index]}" ng-required>
                                        <span class="input-group-btn">
                                            <button type="button" class=" btn btn-danger" ng-click="$ctrl.removeStudent($index)">Remove Student</button>
                                        </span>
                                    </div>
                                    <select ng-show="$ctrl.isStudentNameExisting[$index]" class="form-control m-bot15" multiple ng-model="$ctrl.studentOption[$index]" ng-options="searchedStudent.id + ' - ' + searchedStudent.user.firstname + ' ' + searchedStudent.user.lastname for searchedStudent in $ctrl.searchedStudents[$index]" ng-change="$ctrl.selectStudents($ctrl.studentOption[$index],$index)"></select>
                                    <span ng-show="$ctrl.isStudentNameNotExisting[$index]" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isStudentNameNotExisting[$index]}">
                                        There is no Student satisfying the search condition.
                                    </span>
                                    <span ng-show="$ctrl.isStudentIdInvalid[$index].teamCount" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isStudentIdInvalid[$index].teamCount}">
                                        The Student ID is invalid. There are some possible reasons:
                                        <ul>
                                            <li>
                                                The Student Name is empty.
                                            </li>
                                            <li>
                                                The Student Name is not existing in the system.
                                            </li>
                                            <li>
                                                The Student has not enrolled into the Unit.
                                            </li>
                                            <li>
                                                The Student has already involved in a team in this project.
                                            </li>
                                            <li>
                                                The Student has been repeated.
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="button" class="col-sm-2 btn btn-info" ng-click="$ctrl.addStudent()">Add Student</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="col-sm-2 btn btn-primary">Allocate</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
