<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i>Report</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="icon_document_alt"></i>Report</li>
                <li><i class="fa fa-file-text-o"></i>Student Tasks Report</li>
            </ol>
        </div>
    </div>
    <!-- Search Box Section -->
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Search Box
            </header>
            <div class="panel-body">
                <div class="form">
                    <form class="form-validate form-horizontal" ng-submit="$ctrl.search()">
                        <div class="form-group" ng-show="$ctrl.isResponseEmpty || $ctrl.isServerFailed">
                            <span ng-show="$ctrl.isResponseEmpty" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isResponseEmpty}">
                                There is no Report satisfying the search condition.
                            </span>
                            <span ng-show="$ctrl.isServerFailed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isServerFailed}">
                                Oop! Sorry, the system is down for a while, please comeback later on to use this function.
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="inputSuccess">Unit <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control m-bot15" ng-model="$ctrl.unit" ng-options="unit as unit.unitcode + ' ' + unit.name for unit in $ctrl.units" ng-change="$ctrl.getProjects()" required="true">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="inputSuccess">Project <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control m-bot15" ng-model="$ctrl.project" ng-options="project as project.name for project in $ctrl.projects" required="true">
                                </select>
                                <span ng-show="$ctrl.isProjectNotChoosed" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isProjectNotChoosed}">
                                    The Project need to be choosed before searching for the team.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Team <span class="required">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="$ctrl.teamName" ng-change="$ctrl.searchTeams()" ng-model-options="{debounce: 750}" ng-class="{'has-error is-focused': $ctrl.isTeamNameNotExisting}" required="true">
                                <select ng-show="$ctrl.isTeamNameExisting" class="form-control m-bot15" multiple ng-model="$ctrl.team" ng-options="team as team.name for team in $ctrl.teams" ng-change="$ctrl.selectTeam()"></select>
                                <span ng-show="$ctrl.isTeamNameNotExisting" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isTeamNameNotExisting}">
                                    There is no Team satisfying the search condition.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button type="submit" class="col-sm-2 btn btn-primary">Generate Report</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- End Search Box -->

    <!-- Start of Report -->
    <div class="row" ng-show="$ctrl.isSearchSuccessfull">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Team Tasks Report
                </header>
                <div class="panel-body">
                    <section>
                        <h3>Summary</h3>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Project Name: </td>
                                    <td>{{$ctrl.project.name}}</td>
                                </tr>
                                <tr>
                                    <td>Team Name:</td>
                                    <td>{{$ctrl.team[0].name}}</td>
                                </tr>
                                <tr>
                                    <td>Total Time Taken Up To Date:</td>
                                    <td>{{$ctrl.totalTimeTakenUpToDate}} hours</td>
                                </tr>
                                <tr>
                                    <td>Project Budget: </td>
                                    <td>A${{$ctrl.project.budget}}</td>
                                </tr>
                                <tr>
                                    <td>Spend To Date:</td>
                                    <td>A${{$ctrl.totalCostUpToDate}}</td>
                                </tr>
                                <tr>
                                    <td>Remaining Budget</td>
                                    <td>A${{$ctrl.project.budget - $ctrl.totalCostUpToDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h3>Payslip Information</h3>
                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="2" id="hdWeek"> Week</th>
                                    <th colspan="2" class="text-center" ng-repeat="student in $ctrl.weeks[0].studentWeeklyTask"> {{student.studentId + ' - ' + student.studentName}}</th>
                                    <th colspan="2" class="text-center">Weekly Totals</th>
                                </tr>
                                <tr>
                                    <th ng-repeat-start="student in $ctrl.weeks[0].studentWeeklyTask" class="text-center">Hours</th>
                                    <th ng-repeat-end class="text-center">Pay</th>
                                    <th class="text-center">Hours</th>
                                    <th class="text-center">Pay</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="week in $ctrl.weeks">
                                    <td>Week {{week.week}}</td>
                                    <td ng-repeat-start="student in week.studentWeeklyTask" class="text-center">{{student.totalHourPerWeek/60}}</td>
                                    <td ng-repeat-end class="text-center">{{student.totalCostPerWeek}}</td>
                                    <td class="text-center">{{week.toltalHourPerWeekForTeam/60}}</td>
                                    <td class="text-center">{{week.totalCostPerWeekForTeam}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h3>Contribution Chart</h3>
                        <div id="contributionChartBound">
                            <div id="contributionChart" class="text-center">
                                <canvas id="pie" class="chart chart-pie text-center" chart-data="$ctrl.contributionRates" chart-labels="$ctrl.labels" chart-options="options"></canvas>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
    <!-- End of Report -->
</section>
