<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i>Unit Update</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="icon_document_alt"></i>Unit</li>
                <li><i class="fa fa-file-text-o"></i>Update Unit</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Unit Update Form
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" ng-submit="$ctrl.update()">
                            <div class="form-group" ng-show="$ctrl.isServerFailed || $ctrl.isUnitUpdatedSuccessfully || $ctrl.isInputMissing">
                                <span ng-show="$ctrl.isServerFailed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isServerFailed}">
                                    Oop! The server is down for some reasons. Please try again later.
                                </span>
                                <span ng-show="$ctrl.isUnitUpdatedSuccessfully" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.isUnitUpdatedSuccessfully}">
                                    The Unit has been updated successfully.
                                </span>
                                <span ng-show="$ctrl.isInputMissing" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isInputMissing}">
                                    Please make sure that all the required fields are filled in.
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">Unit Code <span class="required" disabled>*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.unit.unitcode" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">Unit Name <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$ctrl.unit.name" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">Unit Description</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" ng-model="$ctrl.unit.description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">Start Date <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" ng-model="$ctrl.unit.startdate" ng-model-options="{ timezone: 'UTC'}" required="true" ng-class="{'has-error is-focused': $ctrl.isUnitAlreadyExisting}">
                                    <span ng-show="$ctrl.isUnitAlreadyExisting" class="help-block" ng-class="{'alert alert-block alert-danger fade in': $ctrl.isUnitAlreadyExisting}">
                                        The Unit with the Unit Code: {{$ctrl.unit.unitcode}} has been registered in this period. Please choose another time frame for it.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputSuccess">End Date <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" ng-model="$ctrl.unit.enddate" ng-model-options="{ timezone: 'UTC'}" ng-class="{'has-error is-focused': $ctrl.isUnitAlreadyExisting}" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="col-sm-2 btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
