<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Unit Management</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#!/index">Home</a></li>
                <li><i class="fa fa-table"></i>Unit</li>
                <li><i class="fa fa-th-list"></i>Manage Unit</li>
            </ol>
        </div>
    </div>
    <!-- Search Box Section -->
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Search Box
            </header>
            <div class="panel-body">
                <div class="form">
                    <form class="form-validate form-horizontal">
                        <div class="form-group" ng-show="$ctrl.isResponseEmpty || $ctrl.isServerFailed">
                            <span ng-show="$ctrl.isResponseEmpty" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isResponseEmpty}">
                                There is no Unit satisfying the search condition.
                            </span>
                            <span ng-show="$ctrl.isServerFailed" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.isServerFailed}">
                                Oop! Sorry, the system is down for a while, please comeback later on to use this function.
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Unit Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="$ctrl.unitName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Unit Code</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="$ctrl.unitCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button type="button" class="col-sm-2 btn btn-primary" ng-click="$ctrl.search()">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- End Search Box -->

    <!-- List of Units -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Unit List
                </header>
                <div class="panel-body">
                    <div class="form-group" ng-show="$ctrl.hasUnitAlreadyStarted || $ctrl.deleteSucessful">
                        <span ng-show="$ctrl.hasUnitAlreadyStarted" class="help-block" ng-class="{'has-error is-focused alert alert-block alert-danger fade in': $ctrl.hasUnitAlreadyStarted}">
                            This Unit cannot be deleted because it has already started.
                        </span>
                        <span ng-show="$ctrl.deleteSucessful" class="help-block" ng-class="{'has-success is-focused alert alert-block alert-success fade in': $ctrl.deleteSucessful}">
                            The Unit has been deleted successfully.
                        </span>
                    </div>
                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                            <tr>
                                <th>Unit ID</th>
                                <th>Unit Code</th>
                                <th>Unit Name</th>
                                <th>Unit Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Action</th>
                            </tr>
                            <tr ng-repeat="unit in $ctrl.units">
                                <td>{{unit.id}}</td>
                                <td>{{unit.unitcode}}</td>
                                <td>{{unit.name}}</td>
                                <td>{{unit.description}}</td>
                                <td>{{unit.startdate}}</td>
                                <td>{{unit.enddate}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" ng-click="$ctrl.update($index)">Update</a>
                                        <a class="btn btn-danger" ng-click="$ctrl.delete($index)">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- End List of Units -->
</section>
